# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Models
*.pt
*.pth
*.onnx
*.ckpt
*.h5

# Experiment Tracking
mlruns/
mlartifacts/
mlflow.db
wandb/
runs/
logs/

# Outputs
outputs/

# Datasets
datasets/raw/
datasets/extracted/
datasets/processed/

# OS
.DS_Store
Thumbs.db